<div class="row m-4">
  <div class="col col-lg-1">
    <sofka-back-button [routeDashboard]="routeDashboard"></sofka-back-button>
  </div>
</div>
<div class="col m-5 mt-0 text-light">
  <h2 class="mb-4">Users list</h2>
  <div class=" table-responsive">
    <table class="table table-dark table-hover">
      <caption>
        Users list
      </caption>
      <thead>
        <tr class=" text-light">
          <th scope=" col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-light">
        <tr *ngIf="empty;else datos" class="text-center">
          <th colspan=" 4">No hay elementos para mostrar</th>
        </tr>
        <ng-template #datos class="text-light">
          <tr *ngFor="let item of usersList">
            <th scope="row">{{item.userName}}</th>
            <td>{{item.email}}</td>
            <td>{{item.role | enumsNumberToStringPipe: 'role'}}</td>
            <td>
              <a class="btn btn-sm btn-outline-info bg-opacity-75 me-2 text-light shadow"
                [routerLink]="['../update', item.uidUser]">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Delete -->
<!-- <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h1 class="modal-title fs-5" id="delModalLabel">¿Estás seguro de eliminar esta tarea?</h1>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-light">
        <strong>{{title}}</strong>
      </div>
      <div class="modal-footer bg-dark text-light">
        <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</a>
        <a type="button" class="btn btn-danger" (click)="deleteItem(taskId)" data-bs-dismiss="modal">Eliminar</a>
      </div>
    </div>
  </div>
</div> -->