<div *ngIf="!render" class="spinner-grow text-light position-absolute top-50 start-50 min-vw-75 min-vh-75"
  role="status">
</div>
<div *ngIf="render">
  <div class="row m-4">
    <div class="col col-lg-1">
      <sofka-back-button [routeBack]="routeList"></sofka-back-button>
    </div>
  </div>
  <div class="row m-4 text-light">
    <div class="row m-3">
      <div class="col col-lg-1"></div>
      <div class="col col-10">
        <div class="row">
          <div class="col">
            <h3>Task: {{ task.description }}</h3>
          </div>
        </div>
        <div class="text-center">
          <form id="frmViewProject"
            class="form-control bg-container-or-form mt-3 p-4 border-0 text-start text-light shadow-lg">
            <div class="row ms-2">
              <div class="col col-md-6">
                <div class="mb-3 row">
                  <label for="CreatedBy" class="col-sm-3 col-form-label">Created by</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="CreatedBy" name="createdBy"
                      [value]="leader? leader.userName : ''" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="CreatedAt" class="col-sm-3 col-form-label">Created At</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="CreatedAt" name="createdAt"
                      [value]="createdAt" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="AssignedTo" class="col-sm-3 col-form-label">Assigned to</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="AssignedTo"
                      name="assignedTo" [value]="contributor ? contributor.userName : ''" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="AssignedAt" class="col-sm-3 col-form-label">Assigned at</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="AssignedAt"
                      name="assignedAt" [value]="assignedAt" readonly>
                  </div>
                </div>
              </div>
              <div class="col col-md-6">
                <div class="mb-3 row">
                  <label for="Deadline" class="col-sm-3 col-form-label">Deadline</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="Deadline" name="deadLine"
                      [value]="deadLine" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="CompletedAt" class="col-sm-3 col-form-label">Completed At</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="CompletedAt"
                      name="completedAt" [value]="completedAt" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="Priority" class="col-sm-3 col-form-label">Priority</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="Priority" name="priority"
                      [value]="task.priority | enumsNumberToStringPipe: 'priority'" readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="StateTask" class="col-sm-3 col-form-label">State</label>
                  <div class="col">
                    <input type="text" class="form-control bg-dark text-light border-0" id="StateTask" name="stateTask"
                      [value]="task.stateTask | enumsNumberToStringPipe: 'stateTask'" readonly>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
