/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";

.header {
  font-size: larger;
  background-color: $gray-800;
  font-family: 'Cairo', sans-serif;
}

.footer {
  background-color: $gray-800;
  font-family: "Ubuntu", sans-serif;
}

.body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.titles {
  color: $orange-500;
}

.bg-container-or-form {
  background-color: $gray-800;
  color: $white;
}

.btn-general {
  background: linear-gradient(200deg, $orange-500 30%, $orange-700 100%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-position: left bottom;
    color: $white;
  }
}

.btn-action {
  background: linear-gradient(200deg, $indigo-500 30%, $indigo-600 100%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-in-out;
  color: $white;

  &:hover {
    background-position: left bottom;
    color: $white;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');