/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "../node_modules/bootstrap/scss/bootstrap";

.header {
  font-size: larger;
  background-color: #333333;
  font-family: 'Cairo', sans-serif;
}

.footer {
  background-color: #333333;
}

.body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');